<div class="container">
    <h1>{{title}}</h1>
    <div class="form-group">
        Operando A
        <input type="number" class="form-control" [(ngModel)]="operandoA">
    </div>
    <div class="form-group">
        Operando B
        <input type="number" class="form-control" [(ngModel)]="operandoB">
    </div>
    <br/>
    <button class="btn btn-primary" (click)="sumar()">Sumar</button>
    Resultado: {{res}}
</div>